{% extends 'base.html' %}
{% block 'main' %}

<div class="row">
    <div class="col-md-12 mt-3">
        <h3 style="text-decoration: underline;text-align: center;">About Us</h3>
    </div>
    <div class="col-md-8" >
        <p style="margin-top: 4%;text-align: justify;margin-left: 50%;">Hi there , I am Karishma Sontakke , the calligrapher behind
            swirly script studio. I am a passionate calligrapher . Since
            school days I am very fond of writing and love
            to write and experiment on different surface and to add
            special effect to font is always magical. I know many scripts
            and believe in sharing knowledge .At swirly script studio , I
            wished to share my passion to world.</p>
    </div>
      
</div>

{% endblock 'main' %}