{% extends 'base.html' %} 
{% load static %}
{% block 'main' %}

<div class="row mt-5">
    <h4 style="text-decoration: underline; text-align: center;margin-top: 4px;">Services</h4>
    <div class="col-md-3 mt-3">
        <div class="card" style="width: 18rem;">
            <img src="{% static 'asset/images/letter.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body text-center">
              <h5 class="card-title">Handwritten Letter</h5>
            </div>
          </div>
    </div>

    <div class="col-md-3 mt-3">
        <div class="card" style="width: 18rem;">
            <img src="{% static 'asset/images/3.jpg' %}" class="card-img-top" alt="..." height="330px">
            <div class="card-body text-center">
              <h5 class="card-title">Custome Engraving</h5>
            </div>
          </div>
    </div>

    <div class="col-md-3 mt-3">
        <div class="card" style="width: 18rem;">
            <img src="{% static 'asset/images/env.jpg' %}" class="card-img-top" alt="..." height="330px">
            <div class="card-body text-center">
              <h5 class="card-title">Envelope Addressing</h5>
            </div>
          </div>
    </div>

    <div class="col-md-3 mt-3">
        <div class="card" style="width: 18rem;">
            <img src="{% static 'asset/images/digi.jpg' %}" class="card-img-top" alt="..." height="330px">
            <div class="card-body text-center">
              <h5 class="card-title">Digital Art</h5>
            </div>
          </div>
    </div>

    <p style="padding-left: 40%;padding-top: 3%;"><a href="/ser" class="btn bg-danger-subtle">Know More about services</a></p>

</div>

<div class="row mt-5">
    <h4 style="text-decoration: underline; text-align: center;">Contact Us</h4>
    <div class="col-md-7 offset-md-3">
        

        <form class="row g-3 mt-3 shadow ">
            <div class="col-md-6">
              <label for="inputEmail4" class="form-label">First Name</label>
              <input type="text" class="form-control" id="inputEmail4">
            </div>
            <div class="col-md-6">
              <label for="inputPassword4" class="form-label">Last Name</label>
              <input type="text" class="form-control" id="inputPassword4">
            </div>
            
            <div class="col-md-6">
              <label for="inputAddress2" class="form-label">Phone Number</label>
              <input type="number" class="form-control" id="inputAddress2" ">
            </div>

            <div class="col-12">
                <label for="inputAddress" class="form-label">Email</label>
                <input type="email" class="form-control" id="inputAddress" ">
            </div>

            <div class="col-md-12 mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Message</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>

            <div class="col-md-3 offset-md-5" style="padding-bottom: 3%;">
               <button type="button" class="btn bg-danger-subtle">Submit</button>
            </div>
        </form>
    </div>
</div>

<hr>

{% endblock 'main' %}