{% extends 'base.html' %}
{% load static %}
{% block 'main' %}


  <!--main start-->
  <div class="row"><!--one-->
    <div class="col m-4">
        <div class="card mb-3  mx-auto" style="max-width: 840px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="{% static 'asset/images/letter.jpg' %}" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title" style="text-align: center;">Handwritten Letter</h5>
                  <p class="card-text" style="padding-top: 9%;">Calligraphy allows you to express your creativity and
                    individuality through beautiful lettering. It offers a unique
                    way to communicate and convey emotions through visually
                    appealing text. Reading such makes a person feel relaxed.</p>
                    <p style="padding-top: 9%;text-align: center;"><a href="/form_cont" class="btn bg-danger-subtle">Contact us</a></p>

                </div>
              </div>
            </div>
        </div> <!--one end-->

          <div class="card mb-3  mx-auto" style="max-width: 840px;"><!--two-->
            <div class="row g-0">
              
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title" style="text-align: center;">Custom Engraving</h5>
                  <p class="card-text" style="padding-top: 9%;">Calligraphy allows you to express your creativity and
                    individuality through beautiful lettering. It offers a unique
                    way to communicate and convey emotions through visually
                    appealing text. Reading such makes a person feel relaxed.</p>
                    <p style="padding-top: 9%;text-align: center;"><a href="/form_cont" class="btn bg-danger-subtle">Contact us</a></p>

                </div>
              </div>
              <div class="col-md-4">
                <img src="{% static 'asset/images/4.jpg' %}" class="img-fluid rounded-start" alt="...">
              </div>
            </div>
          </div><!--two end-->

          <div class="card mb-3  mx-auto" style="max-width: 840px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="{% static 'asset/images/env.jpg' %}" class="img-fluid rounded-start" alt="..."style="max-height: 320px;">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title" style="text-align: center;">Envelope Addressing </h5>
                  <p class="card-text" style="padding-top: 9%;">Calligraphy allows you to express your creativity and
                    individuality through beautiful lettering. It offers a unique
                    way to communicate and convey emotions through visually
                    appealing text. Reading such makes a person feel relaxed.</p>
                    <p style="padding-top: 9%;text-align: center;"><a href="/form_cont" class="btn bg-danger-subtle">Contact us</a></p>

                </div>
              </div>
            </div>
        </div><!--3 end-->

              <div class="card mb-3  mx-auto" style="max-width: 840px;"><!--4-->
                <div class="row g-0">
                  
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title" style="text-align: center;">Digital Art</h5>
                      <p class="card-text" style="padding-top: 9%;">Calligraphy allows you to express your creativity and
                        individuality through beautiful lettering. It offers a unique
                        way to communicate and convey emotions through visually
                        appealing text. Reading such makes a person feel relaxed.</p>
                        <p style="padding-top: 9%;text-align: center;"><a href="/form_cont" class="btn bg-danger-subtle">Contact us</a></p>

                    </div>
                  </div>
                  <div class="col-md-4">
                    <img src="{% static 'asset/images/digi.jpg' %}" class="img-fluid rounded-start" alt="...">
                  </div>
                </div>
              </div><!--4 end-->

             
    </div>
    
</div>



<!--main end-->

{% endblock 'main' %}